// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$mlb-darkbrown: #211717;
$mlb-brown: #524632;
$mlb-taupe: #8A716A;
$mlb-brique: #a34a28;
$mlb-orange: #FE5F00;
$mlb-lightorange: #f58b54;
$mlb-beige: #dfddc7;
$mlb-darkblue: #18314F;

$mlb-darkgreen: #233714;
$mlb-kaki: #6b591d;
$mlb-saumon: #efcfb6;
$mlb-palepink: #fdeced;

// $mlb-lightblue: #53789A;
// $mlb-darkgray: #18191B;
// $mlb-mediumgray: #18191B;
// $mlb-gray: #828489;
$mlb-lightgray: #D0CCD0;
// $mlb-lightergray: #828489;
$mlb-whitegray: #fcfefe;
// $mlb-grayinfosuser:rgb(212, 214, 216)
