<div class="fullscreen-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url(https://www.liberaldictionary.com/wp-content/uploads/2019/01/livre-1.jpg); background-size: cover;">

  <div class="home-title">

    <h1>Remember what you read</h1>

    <!-- <a href="#" class="btn btn-primary btn-jumpy">Add a book</a>
    <a href="#" class="btn btn-primary btn-jumpy">Create a List</a>
    <a href="#" class="btn btn-primary btn-jumpy">My Dashboard</a> -->

    <%= link_to "Add a book", new_book_path , class: "btn btn-primary btn-jumpy" %>
    <%= link_to "Create a List", new_list_path , class: "btn btn-primary btn-jumpy" %>
    <%= link_to "My dashboard", user_path(current_user) , class: "btn btn-primary btn-jumpy" %>

  </div>

</div>
