// pour etirer le fond de la page (image par exemple)
.fullscreen-container {
  width: 100%;
  height: 100vh;
  color: white;
}

// pour centrer correctement le contenu de la page en laissant la navbar
.navbar-container {

}
